<h1>hello</h1>
<div>
  <label for="inputType">Select Input Type:</label>
  <select
    id="inputType"
    (change)="placeholders()"
    [(ngModel)]="currentInputType"
    name="inputType"
  >
    <option value="text">Text</option>
    <option value="number">Number</option>
    <option value="password">Password</option>
    <option value="email">Email</option>
  </select>

  
</div>
<form  [formGroup]="myForm">

<app-input-text
  [inputType]="currentInputType"
  [inputClass]="currentInputClass"
  [errorClass]="currentErrorClass"
  [placeHolder]="placeholderText"
  (inputValueChange)="handleInputValueChange($event)"
  [showError] = "myForm.get('textInput')?.errors?.['required'] && myForm.get('textInput')?.invalid"
  [errorMessage] = "errorMessage"
  
  
>
</app-input-text>

<!-- [ngClass]="errorClass" -->
<div>
  <h1>dropdown</h1>

</div>
<app-drop-down
[options]="dropdownOptions"
(selectionChange)="handleSelectionChange($event)"
[errorClass]="currentErrorClass"
[dropdownClass]="currentDropDownClass"
[showError] = "myForm.get('dropDownInput')?.errors?.['required'] && myForm.get('dropDownInput')?.invalid"
  [errorMessage] = "errorMessage"

>
</app-drop-down>

<div class="auto-complete">
  <app-autocomplete-input
  [options]="autoSuggestDropDownOptions"
  (selectionChange)=" handleDropdownChange($event)"
  [errorClass]="currentErrorClass"
  [showError] = "myForm.get('autoSuggestDropDown')?.errors?.['required'] && myForm.get('autoSuggestDropDown')?.invalid"
  ></app-autocomplete-input>
</div>
</form>

<div class="selected-value"
>
  <h3>Selected Option:</h3>
  <p>{{ selectedOption }}</p>
</div>

<div>
  <h3>input data will be display here</h3>
  <p>{{ receivedInputValue }}</p>
</div>

<router-outlet></router-outlet>
